/* .photo-div {
    display: inline-flex;
}


.photo {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
} */
.photo-container {
    display: flex;
    flex-wrap: flex;
}


.photo-item {
    /* display: flex;
    flex-wrap: wrap; */
    padding: 10px;
    flex: 1 1 400;
}
